:root{
    --headingcolor: rgb(45, 52, 54);
}

*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #f9f9f9;
}

.heading{
    text-align: center;
    color: #40739e;
    margin: 10px;
}

.taskEntery{
    text-align: center;
}

.inputTask{
    width: 65%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 6px 7px 7px 0px grey;
    border-color:#74b9ff;
    color: #2d3436;
    font-weight: bold;
    font-size: 17px;
}

.dueDate{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 6px 7px 7px 0px grey;
    border-color:#74b9ff;
    color: #2d3436;
    font-weight: bold;
    font-size: 17px;
}

.addTaskBtn{
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    color: #00cec9;
    cursor: pointer;
    font-size: 17px;
    background-color: #2d3436;
    padding: 10px;
    transition: 0.2s ease-in-out;
}

.addTaskBtn:hover{
    transform: scale(1.1);
}

.table{
    margin: 10px;
    border-collapse: separate;
    width: 86%;
    border-spacing: 0 15px;
}

.table th{
    text-align: left;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #0984e3;
    background-color: #f9f9f9;
}

.table td{
    font-size: 17px;
    color: #2d3436;
    font-weight: bold;
    padding: 10px;
    border-radius: 11px;
    border-collapse: collapse;
    margin: 0;
    box-shadow: 6px 7px 7px 0px gray;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.table tr:nth-child(even){
    border-radius: 10px;
    background-color: #dfe6e9;
    transition: 0.2s ease-in-out;
}

.table tr:nth-child(odd){
    border-radius: 10px;
    background-color: #b2bec3;
    transition: 0.2s ease-in-out;
}

tbody tr:hover{
    transform: scale(1.05);
}

td:hover{
    background-color: #636e72;
    color: #ffffff;
}

.taskTable{
    display: flex;
    justify-content: center;
}

p{
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
}

.editBox{
    display: inline-block;
    text-align: center;
    padding: 20px;
    position: relative;
    left: 33vw;
    width: 30%;
    background-color: #40739e;
    border-radius: 10px;
    border: solid 3px black;
    box-shadow: 6px 7px 7px 0px gray;
    visibility: hidden;
}

.editBox theTask{
    display: block;
}

.editBox input{
    display: block;
    border-radius: 5px;
    padding: 10px;
    margin-left:32px;
    margin-bottom: 10px;
    border: solid 3px;
    /* border-image: linear-gradient(45deg,rgb(255,0,0),rgb(255,115,0))1; */
    width: 80%;
}

input:hover{
    cursor: pointer;
}

.changeDoneBtn{
    background-color: #2d3436;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right: 20px;
    margin-top: 10px;
    border-radius:8px;
    color: #00cec9;
}

.theTask{
    font-size: 20px;
}